.disabled{
 cursor: not-allowed;
 pointer-events:none;
 opacity:0.6;    
}
ul.pagging{
   float: right;
    margin-right: 8rem;
}
.wp_search_box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.wp_search_box p{
    padding-right:20px;
    font-size: 19px;
}
#search_box{
    width: 263px;
    border-radius: 27px;
    padding: 6px 8px;
    margin-right: 168px;
}